@using CleanArchitecture.WebUI.Services
@using CleanArchitecture.WebUI.Services.Models
@using MudBlazor
@inject ProductsClient Client
@inject ISnackbar Snackbar

<MudDialog>
    <DialogContent>
        <MudForm @ref="form" @bind-IsValid="@success">
            <MudTextField T="string" Label="Product Name" Variant="Variant.Outlined" Required="true" RequiredError="Name is required!" @bind-Value="command.Name" Class="mb-4" />
            <MudTextField T="string" Label="Description" Variant="Variant.Outlined" Lines="3" @bind-Value="command.Description" Class="mb-4" />
            <MudGrid>
                <MudItem xs="6">
                    <MudNumericField T="decimal" Label="Price" Variant="Variant.Outlined" Format="C2" Required="true" @bind-Value="command.Price" Min="0" />
                </MudItem>
                <MudItem xs="6">
                    <MudNumericField T="int" Label="Initial Stock" Variant="Variant.Outlined" Required="true" @bind-Value="command.Stock" Min="0" />
                </MudItem>
            </MudGrid>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Class="rounded-lg mr-2 text-transform-none font-weight-bold">Cancel</MudButton>
        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="Submit" Disabled="@_isSaving" Class="rounded-lg px-6 text-transform-none font-weight-bold shadow-sm">
            @if (_isSaving)
            {
                <MudProgressCircular Class="ms-n1 mr-2" Size="Size.Small" Indeterminate="true"/>
                <span>Creating...</span>
            }
            else
            {
                <span>Create Product</span>
            }
        </MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; } = default!;

    private CreateProductCommand command = new();
    private MudForm form = default!;
    private bool success;
    private bool _isSaving = false;

    private void Cancel() => MudDialog.Cancel();

    private async Task Submit()
    {
        await form.Validate();

        if (form.IsValid)
        {
            _isSaving = true;
            StateHasChanged();

            var result = await Client.CreateProductAsync(command);

            if (result.IsSuccess)
            {
                Snackbar.Add("Product created successfully", Severity.Success);
                MudDialog.Close(DialogResult.Ok(result.Data));
            }
            else
            {
                foreach (var error in result.Errors)
                {
                    Snackbar.Add(error, Severity.Error);
                }
                _isSaving = false;
                StateHasChanged();
            }
        }
    }
}
